<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Copy Commands"
            id="UtilityCommands.commands.category">
      </category>
      <command
            name="Copy as Sql"
            categoryId="UtilityCommands.commands.category"
            id="UtilityCommands.commands.copyAsSql">
      </command>
      <command
            name="Copy Multiline string"
            categoryId="UtilityCommands.commands.category"
            id="UtilityCommands.commands.copyMultiLineString">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="UtilityCommands.commands.copyAsSql"
            class="utilitycommands.handlers.CopyAsSql">
      </handler>
       <handler
            commandId="UtilityCommands.commands.copyMultiLineString"
            class="utilitycommands.handlers.CopyMultiLineString">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="UtilityCommands.commands.copyAsSql"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="UtilityCommands.commands.copyMultiLineString"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+10"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
         
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="UtilityCommands.toolbars.sampleToolbar">
            <command
                  commandId="UtilityCommands.commands.copyAsSql"
                  icon="icons/copyassql.jpg"
                  tooltip="Copy as sql formatted string"
                  id="UtilityCommands.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   
       <menuContribution
            locationURI="popup:#CompilationUnitEditorContext?after=paste">
           <command
                  commandId="UtilityCommands.commands.copyAsSql"
                  icon="icons/copyassql.jpg"
                  tooltip="Copy as sql formatted string"
                  id="UtilityCommands.contextmenu.copyAsSql">
            </command>
      </menuContribution>
      
      <!-- Copy Mutli line string extension points -->
      <!-- commandid: UtilityCommands.commands.copyMultiLineString -->

      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="UtilityCommands.commands.copyMultiLineString">
            <command
                  commandId="UtilityCommands.commands.copyMultiLineString"
                  icon="icons/multilineicon.jpg"
                  tooltip="Copy as String"
                  id="UtilityCommands.toolbars.id1">
            </command>
         </toolbar>
      </menuContribution>
   
       <menuContribution
            locationURI="popup:#CompilationUnitEditorContext?after=paste">
           <command
                  commandId="UtilityCommands.commands.copyMultiLineString"
                  icon="icons/multilineicon.jpg"
                  tooltip="Copy as string"
                  id="UtilityCommands.contextmenu.id1">
            </command>
      </menuContribution>
      
   </extension>
  
  
</plugin>
